* {
    margin: 0;
    padding: 0;
}
/* container for top row that contains the title */
.titleContainer{
    display: flex;
    justify-content: center;
}

/*class for row of boxes*/
.row-2 {
    display: flex;
    flex-wrap: wrap; /*make the boxes wrap*/
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}

/*class for all boxes*/
.boxes1 {
    height: 300px;
    width: 300px;
    border-radius: 20px; /* curved box edges from gif graphic */
    margin: 10px;
    background-color: aqua;
    border: 5px solid black;
}

